/* import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* general  */
* {
  box-sizing: border-box;
}
body {
  background-color: #061f3d;
  font-family: "Inter", sans-serif;
}

/* text */
h2 {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}

.wallet-amount {
  font-size: 64px;
  font-weight: 700;
  display: block;
  margin-top: 50px;
}

/* containers */
.game-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  width: 97%;
  gap: 24px;
  margin: 32px auto;
}
.container {
  background-color: #0f3056;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  padding: 24px 16px;
}

.bet-container {
  grid-column: 2;
}
.wallet-container {
  grid-column: 3;
}
.competitors-container {
  grid-column: 1;
  grid-row: 1 / -1;
}
.race-container {
  grid-column: 2 / span 2;
}

/* form */
form select,
form input,
form button {
  /* font-family: inherit; */
  padding: 8px 10px;
  width: 50%;
  border-radius: 4px;
  font-size: 18px;
  border: none;
}

/* table */
tbody tr:nth-child(odd) {
  background-color: #294667;
}
td {
  padding: 16px 0;
}
table {
  width: 100%;
  margin-top: 32px;
}

.hidden {
  display: none;
}

.race-result {
  font-size: 48px;
}

.race-container.lost {
  border: red solid 3px;
}

.race-container.win {
  border: greenyellow solid 3px;
}

.race-container.racing {
  border: #294667 solid 3px;
}
