/* import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* general  */
* {
  box-sizing: border-box;
}
body {
  background-color: #1c1d1f;
  font-family: "Inter", sans-serif;
}

/* text */
h2 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  text-transform: uppercase;
}

.wallet-amount {
  font-size: 64px;
  font-weight: 700;
  display: block;
  margin-top: 50px;
}

/* containers */
.game-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  width: 97%;
  gap: 24px;
  margin: 16px auto;
}
.container {
  background: linear-gradient(#2e2e30, #1d1e20);
  border-radius: 8px;
  border: 1px solid #404042;
  text-align: center;
  color: #fff;
  padding: 24px 16px;
}

.bet-container {
  grid-column: 2;
  grid-row: 1 / 3;
}
.wallet-container {
  grid-column: 3;
}
.competitors-container {
  grid-column: 1;
  grid-row: 1 / -1;
}
.race-container {
  grid-column: 2 / span 2;
}
.weather-container {
  grid-column: 3;
}

/* weather */
.weather-opts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.weather-img {
  width: 32px;
}
.selected-weather {
  filter: invert(55%) sepia(68%) saturate(624%) hue-rotate(66deg)
    brightness(92%) contrast(94%);
}

/* form */
form select,
form input,
form button {
  /* font-family: inherit; */
  padding: 12px 10px;
  width: 90%;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  margin-top: 24px;
}

#place-bet {
  background-color: #34bd1d;
  color: #0d3310;
  text-transform: uppercase;
}

/* table */
tbody tr:nth-child(odd) {
  background-color: #151515;
}
td {
  padding: 12px 0;
}
table {
  width: 100%;
  /* border-collapse: collapse; */
  border-spacing: 0;
}
/* Apply border radius to the top left cell in the row */
tr td:first-child {
  border-top-left-radius: 6px; /* Adjust the radius as needed */
  border-bottom-left-radius: 6px; /* Adjust the radius as needed */
  padding-left: 14px;
}

/* Apply border radius to the top right cell in the row */
tr td:last-child {
  border-top-right-radius: 6px; /* Adjust the radius as needed */
  border-bottom-right-radius: 6px; /* Adjust the radius as needed */
}

th {
  padding: 24px 0;
}

.horse-img {
  width: 32px;
  border-radius: 100px;
}

.hidden {
  display: none;
}

.race-result {
  font-size: 40px;
}

.race-container.lost {
  border: red solid 3px;
}

.race-container.win {
  border: greenyellow solid 3px;
}

.race-container.racing {
  border: #294667 solid 3px;
}
